body,
h2 {
    font-family: 'Heebo', sans-serif;

}

h1,

h3,
h4 {
    font-family: 'Suez One', serif;
    color: #f4b505;
}

h1 {
    font-size: 48px;
    line-height: 1.1;
}

.about {
    background: url(img/strip.jpg);
    background-size: cover;

    background-attachment: fixed;
    background-size: 100%;


}

.container {
    max-width: 900px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
}

.about img {
    display: block;
}

body {
    margin: 0;
    line-height: 1.5;
}


h1,
h2,
h3,
h4,
.button {
    font-weight: 400;
}



.button:hover {
    background: #84997d;
    color: #000;
}

.button {
    color: #6d7c68;
    text-decoration: none;
    border: 3px solid #84997d;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;
    border-radius: 2px;
    margin-bottom: 10px;

}

.logo {
    max-width: 150px;
    display: block;
    margin: 10px auto;

}

.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    color: black;

}

.gallery img {
    display: block;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.about img {
    display: block;
    margin-top: 40px;
}

p {
    font-size: 20px;

}





.footer .container {
    background-color: #84997d;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;


}

footer {
    background-color: #7e5535;
    padding: 20px;

    overflow: hidden;
    text-align: center;
}

.contact {
    background-color: #84997d;
    margin-top: 60px;
    padding: 40px 0;
    font-size: 24px;
    text-align: center;

}

.contact a {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}


a {
    color: floralwhite
}

.footer {
    background: #353d32;
    text-align: center;
    padding: 40px 0;

}

.footer a {
    margin: 0 10px;
    text-decoration: none;


}
