body {
    margin: 0;
    font-family: arial, sans-serif;
    line-height: 1.5;
    font-family: 'Alef', sans-serif;
}

h1 {
    color: #fe6f74;
}

    {
    font-size: 48px;
}

h2 {
    color: #ef502d;
}

a {
    color: #08c;
}

input,
textarea,
button {
    font: inherit;
    color: #ef502d;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.recipe {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
    background: #fe6f7442;

}


.cta {
    max-width:
    max-height: 250px;
    margin: auto;
    background: rgb(214 205 198 / 46%);
    font-size: 21px;
    text-align: right;
    overflow: hidden;

}

.button {
    background: #fe6f74;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
}

h3 {
    color: #ef502d;
    font-size: 30px;

}


.alignleft {
    max-width: 40%;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
    padding: 10px;
}

.imgbook {
    max-width: 150px;
    padding: 10px;
}



   .container {
 max-width: 800px;
    margin: auto;
    padding: 0 10px; 
}


.news {
  padding: 60px;
  background: url(img/2019.s.jpg);
  background-position: center;
  background-size: cover;
    text-align: center;
    font-size: 18pt;
    color: black;
}

