body {
    margin: 0;
    font-family: arial, sans-serif;
    line-height: 1.5;
    font-family: 'Alef', sans-serif;
}

h1 {
    color: #fe6f74;
}

    {
    font-size: 48px;
}

h2 {
    color: #333a94;
}

a {
    color: #08c;
}

input,
textarea,
button {
    font: inherit;
    color: #ef502d;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.recipe {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
    background: #fe6f7442;

}


.cta {
    max-width:
    max-height: 250px;
    margin: auto;
    background: rgb(214 205 198 / 46%);
    font-size: 21px;
    text-align: right;
    overflow: hidden;

}

.button {
    background: #ef502d;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
}

.button:hover {
  background: #fff;
  color: #000;
}


h3 {
    color: #ef502d;
    font-size: 30px;

}


.alignleft {
    max-width: 40%;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
    padding: 10px;
}

.imgbook {
    max-width: 150px;
    padding: 10px;
}



   .container {
 max-width: 800px;
    margin: auto;
    padding: 0 10px; 
}

/* newsletter */

.news {
   background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img/2019.s.jpg);
  padding: 60px;
  /* background: url(img/2019.s.jpg); */
  background-position: center;
  background-size: cover;
    text-align: center;
    font-size: 18pt;
    color: black;
}

input {
  font: inherit;
  color: inherit;
  background: none;
  border: 2px solid #fff;
    padding: 5px;  
}

input:focus{
    outline: 0;
  background: rgba(#fe6f74,0.5);    
} 

label span {
  display: block;
  margin-bottom:5px;
}

label {
  margin-bottom:20px;
  display: block;
}







span {
    
}
