body {
  margin: 0;
  font-family: arial, sans-serif;
  line-height: 1.5;
    font-family: 'Alef', sans-serif;
}
h1 {color: #fe6f74;} 
{font-size: 48px;}

h2 {color:#ef502d;}
a {
  color: #08c;
}
input, textarea, button {
  font: inherit;
  color: #ef502d;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.container {
  max-width: 800px;
  margin:  auto;
  padding: 0 10px;
}

.recipe {
  max-width: 800px;
  margin:  auto;
  padding: 0 10px;
    background:#fe6f7442;}
}



