body {
   background-image:
  margin: 0;
  font-family: 'opensans', arial, sans-serif;
  line-height: 1.5;
}

@font-face {
  font-family: 'stanga';
  src: url('fonts/stanga/700/stanga-aaa-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



body {
  background:
    background-image:
  color: #fff;
  margin: 0;
  font-family: 'stanga', sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h1 {
  font-size: 80px;
  font-family: 'stanga';
  font-weight: 700;
}

.container {
    
}
